@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  scroll-behavior: smooth;
  background-color: #1e1e20 !important;
  color: #ccc !important;
}

::-webkit-scrollbar {
  background-color: #1e1e20;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #d5b92c;
  border: 1px solid #000; /* border */
  border-radius: 100px;
}

.container {
  max-width: 1330px !important;
}

.preeloader {
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.preeloader::before {
  content: "";
  border-radius: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #2222c3;
  animation: liquid 5.8s linear infinite alternate;
}
@keyframes liquid {
  0% {
    top: 500px;
    transform: translateX(-50%) rotate(360deg);
  }
  100% {
    top: 80px;
    transform: translateX(-50%) rotate(0deg);
  }
}

header {
  padding-bottom: 100px;
}
header .navbar {
  position: relative;
  transition: box-shadow 0.3s cubic-bezier(0.55, 0.06, 0.27, 0.79); /* transition effect */
}
header .navbar .navbar-brand {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .navbar-brand .brand_circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #d5b92c;
  border-radius: 100%;
  z-index: -1;
  filter: blur(5px);
}
header .navbar .navbar-brand img {
  width: 50px;
}
header .navbar .nav-item {
  padding-left: 12px;
  position: relative;
}
header .navbar .nav-item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #ccc;
  opacity: 0.2;
}
header .navbar .nav-item .nav-link {
  color: #ccc !important;
  font-size: 20px;
  font-weight: 400;
}
header .navbar form {
  padding-left: 10px;
}
header .navbar form input {
  display: none;
  background-color: transparent;
  color: #ccc !important;
  border: 2px solid #414142; /* border */
  width: 0px;
  height: 40px;
}
header .navbar form input:focus {
  box-shadow: none;
  border: none;
  background-color: #414142;
}
header .navbar form input::-moz-placeholder {
  color: #ccc !important;
}
header .navbar form input::placeholder {
  color: #ccc !important;
}
header .navbar form button {
  border: 2px solid #414142; /* border */
  color: #ccc;
}
header .navbar form button:focus {
  box-shadow: none;
}
header .navbar form button:hover {
  background-color: transparent;
  border: 2px solid #414142; /* border */
}
header .navbar form button i {
  font-size: 18px;
}
header .navbar .navbar-toggler {
  border: none;
  outline: none;
}
header .navbar .navbar-toggler:focus {
  box-shadow: none;
}
header .sticky {
  background-color: #1e1e20;
  position: fixed;
  width: 100%;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.54);
  z-index: 100;
}
header main {
  margin-bottom: 100px;
}
header main .banner_title {
  padding: 90px 20px 0 0;
}
header main .banner_title h1 {
  font-size: 60px;
  font-weight: 900;
}
header main .banner_title h1 span {
  color: #d5b92c;
}
header main .banner_title p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 28px;
}
header main .banner_title button {
  position: relative;
  background-color: transparent;
  border: 2px solid #414142; /* border */
  font-size: 18px;
  font-weight: 500;
  color: #ccc;
  padding: 9px 30px;
  border-radius: 5px;
  box-shadow: 0 -3px 10px 1px rgba(110, 109, 109, 0.4392156863);
}
header main .banner_title button::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(204, 204, 204, 0.9019607843);
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%) perspective(2em) rotateX(50deg) scale(1.6, 1);
  filter: blur(10px);
}
header main .banner_img {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 150px;
}
header main .banner_img .banner_circle {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  filter: blur(61px);
  background-color: rgba(247, 222, 0, 0.4784313725);
  z-index: -1;
}
header main .banner_img img {
  width: 40%;
}

.card_section .card_article {
  background: #000;
  border-radius: 15px;
  width: 270px;
  height: 300px;
  margin: 0 auto 50px;
}
.card_section .card_article:hover .card_body img {
  transform: translateY(-10px);
  filter: blur(4px);
}
.card_section .card_article .card_body {
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 47px 0 rgba(0, 0, 0, 0.768627451);
}
.card_section .card_article .card_body::before {
  content: "";
  position: absolute;
  border-radius: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(1deg, #463535, transparent);
}
.card_section .card_article .card_body img {
  width: 150px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s cubic-bezier(0.55, 0.06, 0.27, 0.79); /* transition effect */
}
.card_section .card_article .card_body .card_title {
  position: absolute;
  bottom: 0;
}
#partical {
  width: 100%;
  height: 50vh;
}

.cylender {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
}
.cylender .component {
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  animation: fillup_line_body 30s infinite alternate linear;
}
.cylender .component svg {
  position: absolute;
  width: 200px;
  height: 200px;
  stroke: #240404;
  stroke-width: 2px;
  fill: none;
  backface-visibility: visible;
}
.cylender .component svg path {
  filter: drop-shadow(0 0 3px #ffd500);
  stroke-dasharray: 3522.5053710938;
  stroke-dashoffset: 3522.5053710938;
  animation: fillup_line 20s forwards normal linear;
}
@keyframes fillup_line {
  100% {
    stroke-dashoffset: 0;
  }
}
.cylender .component #front {
  transform: translate3d(0px, 100px, 0px) rotateX(90deg);
}
.cylender .component #back {
  transform: translate3d(0px, -100px, 0px) rotateX(90deg);
}
.cylender .component #left {
  transform: translate3d(-100px, 0px, 0px) rotateY(269deg);
}
.cylender .component #right {
  transform: translate3d(100px, 0px, 0px) rotateY(-269deg);
}
.cylender .component #top {
  transform: translate3d(0px, 0px, 100px) rotateZ(-90deg);
}
.cylender .component #bottom {
  transform: translate3d(0px, 0px, -100px) rotateZ(90deg);
}
@keyframes fillup_line_body {
  100% {
    transform: rotate3d(1, 1, 1, 45deg) rotateZ(360deg) rotateY(360deg) rotateX(360deg);
    transform-origin: 0 100px;
  }
}/*# sourceMappingURL=style.css.map */