@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "./variable" ;



// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ All @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

* {
    font-family:  'Roboto', sans-serif;
}

body {
    scroll-behavior: smooth;
    background-color: $bg !important;
    color: $secondary-color !important;
}

::-webkit-scrollbar {
    background-color: $bg;
    width: 8px;
    
    &-thumb {
        background-color: $primary-color;
        @include border($color: $default-color);
        border-radius: 100px;
    }
}

.container {
    max-width: 1330px !important;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ All @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@




// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Preeloader @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.preeloader {
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    // background-color: antiquewhite;
    overflow: hidden;

    &::before {
        content: "";
        border-radius: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 500px;
        height: 500px;
        background-color: $preeloader;
        animation: liquid 5.8s linear infinite alternate;
    }

    @keyframes liquid {
        0%{
            top: 500px;
            transform: translateX(-50%)  rotate(360deg);
        }
        100%{
            top: 80px;
            transform: translateX(-50%) rotate(0deg);
        }
    }

    // .box {
    //     position: relative;

        

    //     h1 {
    //         font-size: $loader;
    //         font-weight: $loader_weight;
    //         color: transparent;
    //         -webkit-text-stroke: 2px #127aa9;
    //         -webkit-box-reflect: below -219px;            
    //     }

    // }

    

    // .svg_stolen {
    //     position: absolute;
    //     top: 0;
    //     left: 0;

    //     rect {
    //         fill: #fff;
    //         mask: url(#mask);
    //         height: 100%;
    //         width: 100%;
    //     }

    //     text {
    //         stroke-linejoin: round;
    //         text-anchor: middle;
    //         fill: #fff;
    //         stroke-width: 6px;
    //     }
    // }

}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Preeloader @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@





// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Header @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@


header {

    padding-bottom: 100px;
    //  ------------------------------ Navbar ------------------------------

    .navbar {
        position: relative;
        @include transition(box-shadow,0.3s);

        .navbar-brand {
            position: relative;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .brand_circle {
                position: absolute;
                width: 50px;
                height: 50px;
                background: $primary-color;
                border-radius: 100%;
                z-index: -1;
                filter: blur(5px);
            }

            img {
                width: 50px;
            }

        }

        .nav-item {
            padding-left: 12px;
            position: relative;
    
            &::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 30px;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-color: #ccc;
                opacity: 0.2;
    
            }
    
            .nav-link {
                color: $secondary-color !important;
                font-size: 20px;
                font-weight: 400;
            }
    
        }

        form {
            padding-left: 10px;
            
            input {
                display: none;
                background-color: transparent;
                color: $secondary-color !important;
                @include border(2px,$nav-sarch);
                width: 0px;
                height: 40px;

                &:focus {
                    box-shadow: none;
                    border: none;
                    background-color: $nav-sarch;
                }

                &::placeholder {
                    color: $secondary-color !important;
                }

            }

            button {
                @include border(2px,$nav-sarch);
                color: $secondary-color;

                &:focus {
                    box-shadow: none;
                }

                &:hover {
                    background-color: transparent;
                    @include border(2px,$nav-sarch);
                }

                i{
                    font-size: 18px;
                }

            }

        }

        .navbar-toggler {
            border: none;
            outline: none;

            &:focus {
                box-shadow: none;
            }
        }

    }

    .sticky {
        background-color: $bg;
        position: fixed;
        width: 100%;
        top: 0;
        width: 100%;
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 54%);
        z-index: 100;
    }

    //  ------------------------------ Navbar ------------------------------


    //  ------------------------------ Banner area ------------------------------

    main {
        margin-bottom: 100px;

        .banner_title {
            padding: 90px 20px 0 0;

            h1 {
                font-size: $title;
                font-weight: $-title-weight;

                span {
                    color: $banner-title;
                }
            }

            p {
                font-size: $p;
                font-weight: $p-weight;
                margin-bottom: 28px;
            }

            button {
                position: relative;
                background-color: transparent;
                @include border(2px,$nav-sarch);
                font-size: $button;
                font-weight: $button-weight;
                color: $secondary-color;
                padding: 9px 30px;
                border-radius: 5px;
                box-shadow: 0 -3px 10px 1px #6e6d6d70;

                &::before{
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    background-color: #cccccce6;
                    bottom: -32px;
                    left: 50%;
                    transform: translateX(-50%) perspective(2em)rotateX(50deg) scale(1.6,1.0);
                    filter: blur(10px);
                    
                }

            }

        }

        .banner_img {
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding-top: 150px;

            .banner_circle {
                position: absolute;
                width: 250px;
                height: 250px;
                border-radius: 100%;
                filter: blur(61px);
                background-color: #f7de007a;
                z-index: -1;
            }

            img {
                width: 40%;
            }
        }

    }

    //  ------------------------------ Banner area ------------------------------

}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Card @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@


.card_section {

    .card_article {
        background: #000;
        border-radius: 15px;
        width: 270px;
        height: 300px;
        margin: 0 auto 50px;

        &:hover .card_body img {
            transform: translateY(-10px);
            filter: blur(4px);
        }

        .card_body{
            border-radius: 15px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 47px 0 #000000c4;

            &::before {
                content: "";
                position: absolute;
                border-radius: 15px;
                bottom: 0;
                left: 0;
                width: 100%;
                height:50%;
                background: linear-gradient(1deg, #463535, transparent);
            }

            img {
                width: 150px;
                height: 300px;
                object-fit: contain;
                @include transition($time:0.3s);
            }

            .card_title {
                position: absolute;
                bottom: 0;

                h5{

                }

                p{

                }

                a{
                    
                }
            }
        }
    }
}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Card @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@



// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Canvas @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

#partical {
    // position: absolute;
    width: 100%;
    height: 50vh;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Canvas @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@




// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 3d cylender @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@


.cylender {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;

    .component {
        height: 200px;
        width: 200px;
        transform-style: preserve-3d;
        animation: fillup_line_body 30s infinite alternate linear;

        svg{
            position: absolute;
            width: 200px;
            height: 200px;
            stroke: #240404;
            stroke-width: 2px;
            fill: none;
            backface-visibility: visible;
            
    
            path{
                filter: drop-shadow(0 0 3px #ffd500);
                stroke-dasharray: 3522.50537109375;
                stroke-dashoffset: 3522.50537109375;
                animation: fillup_line 20s forwards normal linear;
            }
    
            @keyframes fillup_line {
                100%{
                stroke-dashoffset: 0;
                }
            }
        }
    
        #front {
            transform: translate3d(0px, 100px, 0px) rotateX(90deg);
            // background: #ff6a6a;
        }
        #back {
            transform: translate3d(0px, -100px, 0px) rotateX(90deg);
            // background: #00ff4e;
        }
        #left {
            transform: translate3d(-100px, 0px, 0px) rotateY(269deg);
            // background: hwb(266 51% 3%);
        }
        #right {
            transform: translate3d(100px, 0px, 0px) rotateY(-269deg);
            // background: #ff00bf;
        }
        #top {
            transform: translate3d(0px, 0px, 100px) rotateZ(-90deg);
            // background: #ffe500;
        }
        #bottom {
            transform: translate3d(0px, 0px, -100px) rotateZ(90deg);
            // background: #00ff9d;
        }
    

    }

    @keyframes fillup_line_body {
    
        100%{
            transform: rotate3d(1, 1, 1, 45deg)rotateZ(360deg) rotateY(360deg) rotateX(360deg) ;
            transform-origin: 0 100px;
        }
    }
}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 3d cylender @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
