@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  scroll-behavior: smooth;
  background-color: #1e1e20 !important;
  color: #ccc !important;
}

::-webkit-scrollbar {
  background-color: #1e1e20;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #d5b92c;
  border: 1px solid #000; /* border */
  border-radius: 100px;
}

.container {
  max-width: 1200px !important;
}

.preeloader {
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.preeloader::before {
  content: "";
  border-radius: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #2222c3;
  animation: liquid 5.8s linear infinite alternate;
}
@keyframes liquid {
  0% {
    top: 500px;
    transform: translateX(-50%) rotate(360deg);
  }
  100% {
    top: 80px;
    transform: translateX(-50%) rotate(0deg);
  }
}
.preeloader .svg_stolen {
  position: absolute;
  top: 0;
  left: 0;
}
.preeloader .svg_stolen rect {
  fill: #fff;
  -webkit-mask: url(#mask);
          mask: url(#mask);
  height: 100%;
  width: 100%;
}
.preeloader .svg_stolen text {
  stroke-linejoin: round;
  text-anchor: middle;
  fill: #fff;
  stroke-width: 6px;
}

header .navbar {
  position: relative;
  transition: box-shadow 0.3s cubic-bezier(0.55, 0.06, 0.27, 0.79); /* transition effect */
}
header .navbar .navbar-brand {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .navbar-brand .brand_circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #d5b92c;
  border-radius: 100%;
  z-index: -1;
  filter: blur(5px);
}
header .navbar .navbar-brand img {
  width: 50px;
}
header .navbar .nav-item {
  padding-left: 10px;
  position: relative;
}
header .navbar .nav-item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #ccc;
  opacity: 0.2;
}
header .navbar .nav-item .nav-link {
  color: #ccc !important;
}
header .navbar form {
  padding-left: 10px;
}
header .navbar form input {
  display: none;
  background-color: #414142;
  color: #ccc !important;
  border: none;
  width: 0px;
  height: 40px;
  transition: all 1s cubic-bezier(0.55, 0.06, 0.27, 0.79); /* transition effect */
}
header .navbar form input:focus {
  box-shadow: none;
  border: none;
  background-color: #414142;
}
header .navbar form input::-moz-placeholder {
  color: #ccc !important;
}
header .navbar form input::placeholder {
  color: #ccc !important;
}
header .navbar form button {
  border: 2px solid #414142; /* border */
  color: #ccc;
}
header .navbar form button:focus {
  box-shadow: none;
}
header .navbar form button:hover {
  background-color: transparent;
  border: 2px solid #414142; /* border */
}
header .navbar .navbar-toggler {
  border: none;
  outline: none;
}
header .navbar .navbar-toggler:focus {
  box-shadow: none;
}
header .sticky {
  background-color: #1e1e20;
  position: fixed;
  width: 100%;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.54);
  z-index: 100;
}
header main .banner_title {
  padding: 90px 20px 0 0;
}
header main .banner_title h1 {
  font-size: 55px;
  font-weight: 900;
}
header main .banner_title h1 span {
  background: linear-gradient(45deg, #d5b92c, #f10808);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header main .banner_title p {
  font-size: 20px;
  font-weight: 500;
}
header main .banner_title button {
  background-color: transparent;
  border: 2px solid #414142; /* border */
  font-size: 17px;
  font-weight: 500;
  color: #ccc;
  padding: 7px 20px;
  border-radius: 5px;
}
header main .banner_img {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header main .banner_img .banner_circle {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  filter: blur(40px);
  background-color: #d5b92c;
  z-index: -1;
}
header main .banner_img img {
  width: 35%;
}/*# sourceMappingURL=style.css.map */